@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased text-foreground;
    background-color: #2B1B0F;
  }

  :root {
    --primary: 30 100% 50%;
    --primary-text: #212529;
    --secondary-text: #6c757d;
  }
}