# Node & build
node_modules/
dist/
.cache/
.client/

# macOS
.DS_Store

# Replit 相關
.replit
.config
.local
start_vite.sh

# Vite / Vercel
server/public/
vite.config.ts.*
*.tar.gz
*.log
.upm/
generated-icon.png

# API or build artifacts
server/

# 保留API數據在儲存庫中，但忽略其他不必要的文件
# api/data/*.json
